*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px; color: #333;
    background-color: #fff;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7))
    ,url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    width: 100px;
    margin-top: 20px;
    float: left;
}

.main-nav{
    float: right;
    margin-top: 50px;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav li a:hover{
    color: orange;
    text-decoration: underline;
}

.hero-box{
    position: absolute;
    top: 40%; left: 20%;
}

h1{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 150%;
    margin-bottom: 30px; 
    word-spacing: 5px; letter-spacing: 3px;
}

.btn{
    border: solid 1px orange;
    border-radius: 0px 25px;
    padding: 10px 20px;
    margin-right: 15px;
    text-decoration: none;
    color: orange;
}

.btn:hover{
    color: white;
    background-color: orange;
}

section{
    padding: 40px 0px;
}


h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px; 
    word-spacing: 5px; letter-spacing: 3px;
    text-align: center;
}

hr{
    width: 100px;
    border: 3px solid  orange;
    margin: 0px auto 20px auto;
    background-color: orange;
}

.features-text{
    width: 60%;
    margin: 0px auto 30px auto;
    text-align: center;
}

.morsy{
    text-align: center;
}

.morsy i{
    font-size: 50px;
    margin-bottom: 10px;
    color: orange;
}

.morsy h3{
    margin-bottom: 10px;
}

.meal{
    padding: 0;
}

.meal img{
    width: 100%;
}

.left-works{
    text-align: right;
}

.left-works img{
    width: 40%;
}

.right-works{
    text-align: left;
    padding-top: 70px;
}

.step{
    display: flex;
    margin-bottom: 30px;
}

.step div{
    width: 50px; height: 50px;
    border: solid 2px orange;
    border-radius: 50%;
    padding: 12px;
    text-align: center;
    margin-right: 20px;
}

.downlaod{
    margin-left: 15px;
}

.downlaod img{
    height: 50px;
}

.city img{
    width: 100%;
    margin-bottom: 10px;
}
.city  h3{
    margin-bottom: 10px;
}
.city-info {
    display: flex;
    margin-bottom: 10px;
}
.city-info i {
    color: orange;
    margin-right: 15px;
}

#customers{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7))
    ,url(../images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

#customers i{
    font-size: 60px;
    margin-left: -50;
    margin-bottom: 15px;
}

#customers p{
    line-height: 150%;
    font-style: italic;
    margin-bottom: 15px;
}

#customers img{
    width: 50px; height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

label{
    font-size: 20px;
    color: orange;
    font-weight: bold;
    margin-bottom: 15px;
}

input[type=text] , input[type=email] , select , textarea{
    width: 100%;
    padding: 7px;
    border: solid 2px #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type=checkbox]{
    margin-bottom: 15px;
} 

button{
    padding: 12px 30px;
    border: solid 2px orangered;
    border-radius: 15px;
    background-color: orange;
    color: white;
}

button:hover{
    background-color: transparent;
    color: orangered;
}

footer{
    padding: 30px 0;
    background-color: #333;
}

footer p{
    color: #ddd;
    text-align: center;
    margin-top: 20px;
}

.footer-nav{
    float: left;
    list-style: none;
    margin-top: 50px;
}

.footer-nav li{
    margin-left: 20px;
    display: inline-block;
}

.footer-nav li a{
    color: #888;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-nav li:hover{
    color: #ddd; text-decoration: underline;
}

.social-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.social-nav li{
    margin-left: 20px;
    display: inline-block;
}

.social-nav li a{
    color: #888;
    text-decoration: none;
    text-transform: uppercase;
}

.social-nav li a:hover{
    color: #ddd; text-decoration: underline;
}